@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  overflow-y: scroll;
}

.hover-zoom-container {
  display: inline-block;
  overflow: hidden;
}

.hover-zoom-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.hover-zoom-container:hover .hover-zoom-image {
  transform: scale(1.1); 
}