div{
    width: 250px;
    height: 100px;
    margin: 12px;
    border: 2px solid tomato;
    transform: skewX(30deg);
    text-align: center;
    align-content: center;
    transition: width 2s; 
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    /* animation-delay: 2s; */
    /* animation-delay: -2s; */
    /* animation-iteration-count: 3; */
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    0%   {background-color:orange; left:0px; top:0px;}
    75%  {background-color:skyblue  ; left:200px; top:0px;}
    90% {background-color:green; left:0px; top:0px;}
  }
  
  /* @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    60% {background-color: green;}
    70% {background-color: orange;}
    100% {background-color: skyblue;}

  } */
  /* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */
div:hover{
    width: 500px;
}
